<div class="container py-4">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Peliculas</h1>
    </div>
  </header>
  
    <div class="p-5 mb-4 bg-light rounded-3">
      <app-tabla-peliculas 
        [peliculas]="listaPeliculas" 
        (peliculaSeleccionada)="mostrarDetalle($event)">
      </app-tabla-peliculas>
    </div>
  
    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Detalle película seleccionada</h2>
          <app-detalle-pelicula 
          [pelicula]="peliculaSeleccionada">
        </app-detalle-pelicula>
        </div>
      </div>
    </div>
  
    
  </div>