
    <div class="container py-3">
      <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h1 class="display-4 fw-normal">Actores</h1>
          <p class="fs-5 text-muted">Acá vas a encontrar un listado de todos los actores de nuestra base de datos</p>
        </div>

        
      </header>

      <main>

        <div class="row">

        <app-tabla-actores 
          [actores]="listaActores" 
          (actorSeleccionado)="mostrarDetalle($event)">
        </app-tabla-actores>

          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <h2>Detalle actor seleccionado</h2>
              <app-detalle-actor 
              [actor]="actorSeleccionado">
            </app-detalle-actor>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <h2>Detalle del pais: {{actorSeleccionado?.pais}}</h2>
              <app-detalle-pais
                [nombrePais]="actorSeleccionado?.pais">
              </app-detalle-pais>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <app-peliculas-actor
                [actor_uid]="actorSeleccionado?.uid">
              </app-peliculas-actor>
            </div>
          </div>
        </div>

      </main>
    </div>
